body {
	background: black;
	font-family: fantasy;
}

.div-main
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
    vertical-align: top;
}
.column
{
    display: table-cell;
    /*background-color: red; /*Optional*/
}

section {
    display: inline-block;
    width:60%;
    height:120px;
    border: 1px solid red;
    padding: 20 20 0 20;
    vertical-align: top;
}

aside#left-side {
    display: inline-block;
    width:100%;
    /*border: 1px solid green;*/
    align: "left"
}

aside#right-side {
    display: inline-block;
    width:100%;
    border: 1px solid blue;
    align: "right"
}

div.ad-box {
	border: 3px double white;
	padding: 2 0 0 0 ;
	margin: 2 4 4 2 ;
	text-align: center;
}

div.ad-box p {
	font-size: 20;
	font-family: "times"
}

h1 {
	color: orange;
	text-align: center;
}

h3 {
	color: green;
	text-align: center;
}

p {
	color: gray;
	font-family: fantasy;
    vertical-align: top;
}

p.center {
    text-align: center;
}

#img-main {
	display: block;
    margin: 0 auto;
}

img.img-cent {
	display: block;
    margin: 0 auto;
}

img.sidebar {
    width: 100%
}

img.rickdance {
    height: 50%;
    display:inline-block;
    margin: 0 auto;   
}

div#div-rickdance {
    text-align: center;
}

iframe {
	display: block;
    margin: 0 auto;	
    height: 500;
    width:100%;
}